.pokemon-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
    width: 100%;
    height: auto;
}

.pokemon-name {
    font-size: 1.5em;
    margin: 10px 0;
}

.pokemon-number,
.pokemon-type,
.pokemon-abilities {
    margin: 5px 0;
}

.pokemon-type {
    color: #ff7f0f;
}

.pokemon-abilities {
    font-size: 0.9em;
    color: #555;
}
