.content{
    flex-grow: 1;
}
section{
    width:100%;
}
section + section{
    margin-top: 50px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info h3{
    font-size: 20px;
    font-weight: 500;
    padding: 35px 15px 15px 0px;
}
.info img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
